@import "header.css";
@import "carousel.css";
@import "main.css";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    margin: 0;
    padding: 0;
}
ul{ list-style: none; margin: 0;
    padding: 0;}
a, a:hover{
    text-decoration: none;
}
p{
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.8);
}

.container{
    /*border-right: 1px solid black;*/
    /*border-left: 1px solid black;*/
    padding: 0;
}
.button{
    width: 200px;
    height: 45px;
    background: #DEC377;
    border-radius: 3px;
    border: none;
    text-align: center;
}
.button a{
    padding-top: 5px;
    display: block;
    width: 200px;
    height: 45px;
    font-family: 'Commissioner', sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 30px;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}
.button-light{
    width: 200px;
    height: 45px;
    background: #ffffff;
    border-radius: 3px;
    border:  #DEC377 1px solid;
    text-align: center;

}
.button-light a{
    padding-top: 5px;
    display: block;
    width: 200px;
    height: 45px;
    font-family: 'Commissioner', sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 30px;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    }


